@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eaf2ff;
}

.container {
	width: 950px;
	min-height: 100%;
	margin: 70px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}
@media (max-width: 950px) {
	.container {
		width: 90%;
	}
}

form .input-task {
	margin-top: 15px;
  padding: 5px 10px;
  width: 300px;
  height: 30px;
  color: #555;
  border: 2px solid #666;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
}

form .btn {
  margin-top: 10px;
  height: 33px;
  display: inline-block;
  width: 140px;
  font-size: 15px;
  color: #b6333a;
  font-weight: 600;
  background-color: #EEEFFA;
  border: 2px solid #666;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
}
form .btn:hover, form .btn:focus {
	background-color: #b6333a;
	color: #fff;
}

.nav {
	margin-top: 15px;
}
.nav p {
	display: none;
	padding: 5px 10px;
	color: #333;
	font-weight: 800;
	font-size: 20px;
}

.notice {
	display: none;
	width: 100%;
	padding: 10px;
	/*margin-top: 15px;*/
	color: #555;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	background-color: #ccc;
	position: absolute;
	top: 0;
}

.error {
	color: #da3a3a;
	background-color: #efb4b5;
}










